/* .App {
  width: 93%;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.hero-image {
  width: 100%;
}

h1 {
  text-align: center;
}


.trident h2,
.trident h3,
.trident p {
  text-align: center;
}

.trident img {
  display: block;
  margin: 0 auto;
}
